.modal-dialog {
    max-width: 700px;
}

.order-dialog {
    font-family: 'SUIT-Regular';
}

.order-dialog-title {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
}

.order-dialog-ordernum {
    color: #FB6D33;
}

.basic-button:hover {
    color: #FB6D33;
    background-color: black;
}

.form-select {
    font-family: 'SUIT-Regular';
    border-radius: 0px;
    border: 1px solid black;
}

.form-select option:hover {
    background-color: #FB6D33;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}