.order-container {
    font-family: 'SUIT-Regular';
}

.payment-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.rccs {
    margin: 0 !important;
}


.form-area input {
    margin-bottom: 10px;
}

.pay-button {
    margin-top: 30px;
}

.confirmation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 90%;
}

.check-image {
    padding: 20px;
}

.mobile-receipt-area {
    display: none;
}

.line {
    border-bottom: 3px solid black;
}

.order-title {
    /* font-family: 'SUIT-Regular'; */
    font-family: 'GmarketSansMedium';
}

@media screen and (max-width: 63rem) {
    .form-area {
        margin-top: 20px;
    }

    .receipt-area {
        display: none;
    }

    .mobile-receipt-area {
        display: block;
    }

    /* .pay-button{
        position: absolute;
        bottom: 0;
    } */
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}